*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body { 
  height: 100%; 
  margin: 0; 
}

body { 
  padding: 0;
  margin: 0; 
  overflow: hidden; 
}

canvas { 
  display: block; 
  width: 50vw;
  height: 80vh;
  margin: 0 auto;
}